:root{
	--primary-color: rgb(238,75,43);
	--white-color: #fff;
	--black-color: #000;
	--text-color: #333;
	--border-color: #dbdbdb;
	--header-height: 120px;
	--header-sort-bar-height: 46px;
	--navbar-height: 34px;
	--header-with-search-height: calc(var(--header-height)-var(--navbar-height));
	--star-gold-color: #ffce3e;
}

*{
	box-sizing: inherit;
}

html{
	font-size: 62.5%;
	line-height:1.6rem;
	font-family: 'Heveltica','Arial', sans-serif;
	box-sizing: border-box;
}
 /* Responsive */

.grid__row{
	display:flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-right: -6px;
}

.grid__col{
	
}

/* Test */
.grid__column-2{
	padding-left: 6px;
	padding-right: 6px;
	width: 16.6667%;
}

.grid__column-10{
	padding-left: 6px;
	padding-right: 6px;
	width: 83.3333%;
}
.grid__column-2-4{
	padding-left: 6px;
	padding-right: 6px;
	width: 20%;
}
/* Animation */
@keyframes headerNotifiGrowth{
	from{
		transform:scale(0);
		opacity:0;
	}
	to{
		opacity:1;
		transform:scale(1);
	}
}

@keyframes growth{
	from{
		transform:scale(var(--growth-from));
	}
	to{
		transform:scale(var(--growth-to));
	}
}

/* Modal */
.modal{
	position:fixed;
	top: 0;
	right: 0;
	bottom:0;
	left:0;
	display:flex;
	animation: fadeIn linear 0.1s;
	opacity: 0;
	visibility: hidden;
}

.show-modal {
	opacity: 1;
	visibility: visible;
}

.modal__overlay{
	position:absolute;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.modal__body{
	--growth-from: 0.7;
	--growth-to: 1;
	margin:auto;
	position:relative;
	animation: growth linear 0.1s;
	
}

.show-modal-body{
	
}

/* Button */ 
.btn {
	min-width: 124px;
	height: 34px;
	text-decoration: none;
	border: none;
	border-radius: 2px;
	font-size: 1.5rem;
	padding: 0 12px;
	outline: none;
	color: var(--text-color);
	display:inline-flex;
	justify-content:center;
	align-items:center;
	line-height: 1.6rem;
	background-color: var(--white-color);
}
.btn.btn--normal:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary{
	background-color: var(--primary-color);
	color: var(--white-color);
}
.btn.btn--primary-hover{
	background-color: var(--primary-color);
	color: var(--white-color);
}
.btn.btn--primary-hover:hover{
	background-color: #f05d41;
}
.btn.btn--disable{
	cursor: default;
	color: #949494;
	background-color: #c3c3c3;
}
.btn.btn--size-s{
	height: 32px;
	font-size: 12px;
	padding: 0 8px;
}

/* Selection */
.select-input{
	min-width: 200px;
	background-color:var(--white-color);
	height: 34px;
	padding: 0 12px;
	border-radius: 2px;
	display: flex;
	align-items:center;
	justify-content:space-between;
	position: relative;
}
.select-input::before{
	content: "";
	display:block;
	position: absolute;
	top: 20px;
	right: 0;
	width: 100%;
	height:20px;
}
.select-input:hover .select-input__list{
	display: block;
}

.select-input__label{
	font-size: 1.4rem;
}

.select-input__icon{
	font-size: 1.4rem;
	color: rgb(131,131,131);
	margin: 0 4px;
	position:relative;
	top: 1px;
}

.select-input__list{
	position: absolute;
	left: 0;
	right: 0;
	border-radius: 2px;
	background-color: var(--white-color);	
	top: 25px; 
	padding: 10px 16px ;
	list-style:none;
	display:none;	
	z-index: 1;
}

.select-input__link{
	font-size: 1.4rem;
	text-decoration:none;
	color: var(--text-color);
	display: block;
	padding: 5px 0;
}
.select-input__link:hover{
	color: var(--primary-color);
}

/* pagination */
.pagination{
	display:flex;
	align-items:center;
	justify-content:center;	
	list-style:none;
}
.pagination-item{
	margin: 0 12px;
}
.pagination-item--active .pagination-item__link{
	background-color: var(--primary-color);
	color: var(--white-color);
}
.pagination-item--active:hover .pagination-item__link{
	background-color: #ed5c3f;
}

.pagination-item__link{
	--height:30px;
	display: block;
	text-decoration: none;
	font-size: 2rem;
	color: #939393;
	height: var(--height);
	min-width: 40px;
	text-align:center;
	line-height: var(--height);
	border-radius: 2px;
	font-weight: 300;
}
.pagination-item__icon{
	font-size: 1.6rem;
}